<div class="basic-grey">
  <h1>Listando os Tipos</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Description</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @kinds.each do |kind| %>
        <tr>
          <td><%= kind.description %></td>
          <td><%= link_to 'Edit', edit_kind_path(kind) %></td>
          <td><%= link_to 'Destroy', kind, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Kind', new_kind_path, class: "btn btn-danger" %>
</div>
